ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ConnectionStrings__Default=Server=db;Database=EmployeeManagement;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True
Jwt__Issuer=http://localhost:8080
Jwt__Audience=http://localhost:8080
Jwt__Key=CHANGE_ME
SA_PASSWORD=CHANGE_ME
